{% extends 'learnathon/base.html' %}

{% block title %}Student Score Report{% endblock title %}

{% block content %}
    <br />
<div class="card text-center mx-4">
    <div class="card-header">
      {{student.registration_no}} - Student Score Report
    </div>
    {% if scores %}
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th style="width: 25%" scope="col">Session</th>
          <th style="width: 25%" scope="col">Score</th>
          <th style="width: 50%" scope="col">Comments given by Reviewer</th>
        </tr>
      </thead>
      <tbody>
        {% for score in scores %}
        <tr>
          <td>Session - {{score.review.number}}</td>
          <td>{% if score.comments %}{{score.score}}{% else %}0{% endif %}</td>
          <td>{% if score.comments %}{{score.comments}}{% else %}{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer text-muted">
      Overall Score (Out of 50): <b>{{student.score}}</b>
    </div>
    {% endif %}
  </div>
{% endblock content %}
