{% extends 'learnathon/base.html' %}

{% block title %}Student Attendance Report{% endblock title %}

{% block content %}
<br />
<div class="card text-center mx-4">
    <div class="card-header">
      {{student.registration_no}} - Attendance Report
    </div>
    {% if attendances %}
    <table class="table table-bordered">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Session</th>
          <th scope="col">Present?</th>
        </tr>
      </thead>
      <tbody>
        {% for attendance in attendances %}
        <tr>
          <td>Session - {{attendance.review.number}}</td>
          <td>{% if attendance.absent %}<i class="bi bi-x-circle-fill" style="color: red;"></i>{% else %}<i class="bi bi-check-circle-fill" style="color: green;"></i>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="card-footer text-muted">
      Overall Attendance: {{student.attendance}}
    </div>
    {% endif %}
  </div>
{% endblock content %}