<html>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    td {
        text-align: center;
    }
</style>

<body>
Dear {{role}},<br />

Hope you are doing well. Thank you for spending your valuable time on giving feedback.<br />

These are the details taken from your feedback submission:<br />
<br />
<table style="width:60%">
    <tr>
        <td><b>Your Registration No</b></td>
        <td>{{registration_no}}</td>
    </tr>
    <tr>
        <td><b>Your Issue Type</b></td>
        <td>{{issue_type}}</td>
    </tr>
    <tr>
        <td><b>Your Issue</b></td>
        <td>{{issue}}</td>
    </tr>
    <tr>
        <td><b>Room Number</b></td>
        <td>{{room}}</td>
    </tr>
</table><br />

This issue will be looked into, and we will make sure that necessary action will be taken at the earliest.<br />
Stay tuned for more updates on the Announcements section.<br />

All the best for your Hackathon.<br /><br /><br />

Thanks and Regards,<br />
<b>KL CSE(Honors) Department</b>

</body>

</html>